---
name: Checks

on:
    push:
        branches:
        - 'main'
    workflow_dispatch:

jobs:
    lint:
        runs-on: ubuntu-latest
        environment: app-env
        steps:
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_ACCESS_KEY }}

            - name: Get the Codes
              uses: actions/checkout@v6   

            - name: Lint
              run: docker compose run --rm backend sh -c "flake8"    

            - name: Lint
              run: docker compose run --rm backend sh -c "python manage.py test"    
            